/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    /* Adjust scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: white;
    /* Dark purple color */
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* Smooth color change */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0a0a0a;
    /* Slightly darker purple on hover */
}

::-webkit-scrollbar-track {
    background-color: #2d2d2d;
    /* Dark background for track */
    border-radius: 10px;
}